<a href="https://colab.research.google.com/github/Kallukalluzzz/Mini-Project/blob/main/Copy_of_Copy_of_Miniproject_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import os
from pandas_profiling import ProfileReport

In [3]:
data=pd.read_csv("/content/DGA dataset_new.csv")

In [4]:
data

      NM       H2      CH4    C2H6    C2H4    C2H2               Type
0      1   3930.0   2397.0   157.0     0.0     0.0  Partial discharge
1      2  37800.0   1740.0   249.0     8.0     8.0  Partial discharge
2      3  92600.0  10200.0     0.0     0.0     0.0  Partial discharge
3      4   8266.0   1061.0    22.0     0.0     0.0  Partial discharge
4      5   9340.0    995.0    60.0     6.0     7.0  Partial discharge
..   ...      ...      ...     ...     ...     ...                ...
266  267   2443.0   3422.0  7852.0  3000.0  6394.0           No fault
267  268   4395.0   5201.0  6933.0  6788.0  2121.0           No fault
268  269   7613.0   1120.0  3363.0  4751.0  3393.0           No fault
269  270   2366.0   1031.0  5909.0   108.0  7025.0           No fault
270  271   5054.0   4144.0  4174.0  7020.0  6974.0           No fault

[271 rows x 7 columns]

In [5]:
data.head()

   NM       H2      CH4   C2H6  C2H4  C2H2               Type
0   1   3930.0   2397.0  157.0   0.0   0.0  Partial discharge
1   2  37800.0   1740.0  249.0   8.0   8.0  Partial discharge
2   3  92600.0  10200.0    0.0   0.0   0.0  Partial discharge
3   4   8266.0   1061.0   22.0   0.0   0.0  Partial discharge
4   5   9340.0    995.0   60.0   6.0   7.0  Partial discharge

In [6]:
data.tail()

      NM      H2     CH4    C2H6    C2H4    C2H2      Type
266  267  2443.0  3422.0  7852.0  3000.0  6394.0  No fault
267  268  4395.0  5201.0  6933.0  6788.0  2121.0  No fault
268  269  7613.0  1120.0  3363.0  4751.0  3393.0  No fault
269  270  2366.0  1031.0  5909.0   108.0  7025.0  No fault
270  271  5054.0  4144.0  4174.0  7020.0  6974.0  No fault

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NM      271 non-null    int64
 1   H2      271 non-null    float64
 2   CH4     271 non-null    float64
 3   C2H6    271 non-null    float64
 4   C2H4    271 non-null    float64
 5   C2H2    271 non-null    float64
 6   Type    271 non-null    object
dtypes: float64(5), int64(1), object(1)
memory usage: 14.9+ KB

In [8]:
data.describe()

,NM,H2,CH4,C2H6,C2H4,C2H2
count,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000
mean,136.000000,12596.872137,8837.367860,8322.011037,25855.278192,28464.202989
std,78.375166,58990.313685,44290.029786,45204.575453,93324.626287,118859.936760
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,68.500000,87.585000,59.950000,10.000000,15.050000,3.110000
50%,136.000000,676.740000,450.000000,68.000000,233.000000,40.000000
75%,203.500000,4105.000000,1593.000000,510.000000,2030.000000,890.850000
max,271.000000,487297.000000,449556.000000,404053.000000,478904.000000,683643.000000

In [9]:
data.isnull()

        NM     H2    CH4   C2H6   C2H4   C2H2   Type
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False  False  False
3    False  False  False  False  False  False  False
4    False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...
266  False  False  False  False  False  False  False
267  False  False  False  False  False  False  False
268  False  False  False  False  False  False  False
269  False  False  False  False  False  False  False
270  False  False  False  False  False  False  False

[271 rows x 7 columns]

In [10]:
plt.figure(figsize=(15,7))
plt.style.use("fivethirtyeight")
sns.kdeplot(data=data, x="H2")

In [11]:
plt.figure(figsize=(15,7))
plt.style.use("fivethirtyeight")
sns.kdeplot(data=data, x="CH4")

In [12]:
plt.figure(figsize=(15,7))
plt.style.use("fivethirtyeight")
sns.kdeplot(data=data, x="C2H6")

In [13]:
plt.figure(figsize=(15,7))
plt.style.use("fivethirtyeight")
sns.kdeplot(data=data, x="C2H4")

In [14]:
plt.figure(figsize=(15,7))
plt.style.use("fivethirtyeight")
sns.kdeplot(data=data, x="C2H2")

In [15]:
sns.pairplot(data=data)

In [16]:
plt.figure(figsize=(20,10))
c=data.corr()
sns.heatmap(c,cmap='BrBG',annot=True)

In [17]:
data.isnull().any()

NM      False
H2      False
CH4     False
C2H6    False
C2H4    False
C2H2    False
Type    False
dtype: bool

In [18]:
X=data.drop(['Type'],axis=1)
Y=data['Type']

In [19]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,train_size=0.5)

In [20]:
Xtrain

      NM      H2      CH4     C2H6     C2H4     C2H2
220  221  9032.0   785.00   219.00    12.00    36.00
17    18  6870.0  1028.00    79.00   900.00  5500.00
261  262  7722.0  5145.00  1730.00  6242.00  1712.00
149  150    55.0    22.00     0.50     2.60     0.00
158  159  5000.0  4000.00  2000.00  2000.00  8000.00
..   ...     ...      ...      ...      ...      ...
118  119    25.4    54.97     8.72    77.84    10.47
145  146   130.0   140.00    24.00   120.00     0.00
136  137    53.0    39.00     3.00     4.50     0.00
36    37   210.0    43.00    12.00   102.00   187.00
9     10    78.0    20.00    11.00    13.00    28.00

[135 rows x 6 columns]

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler().fit(Xtrain)
Xtrain = sc.transform(Xtrain)
Xtest = sc.transform(Xtest)

In [22]:
from sklearn import svm
cl = svm.SVC(kernel='linear', C=0.01)
cl.fit(Xtrain, Ytrain)

SVC(C=0.01, kernel='linear')

In [23]:
Ypred = cl.predict(Xtrain)

In [24]:
Ypred_1 = cl.predict(Xtest)
Ypred_1

array(['Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge',
       'High intensity discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'No fault', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'No fault',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge',
       'High intensity discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge',
       'High intensity discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'High intensity discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge', 'Arc discharge',
       'Arc discharge', 'Arc discharge', 'Arc discharge'], dtype=object)

In [25]:
from sklearn.metrics import accuracy_score, confusion_matrix
cm = confusion_matrix(Ytest, Ypred_1)
cm

array([[27,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  4,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [18,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 9,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [10,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 6,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [14,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0],
       [11,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [26,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 8,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0]])

In [26]:
acc = accuracy_score(Ytest, Ypred_1)
acc

0.2426470588235294

In [28]:
from sklearn.model_selection import GridSearchCV
parameters = {'C': [0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1, 5, 10, 50, 100, 500, 1000, 5000],
              'degree': [2, 3, 4, 5],
              'gamma':[ 0.01, 0.1, 0.2, 1],
              'kernel': ['linear']
              }        
cl = svm.SVC()
grid = GridSearchCV(cl, parameters, cv=10)
grid.fit(Xtrain, Ytrain)
print(grid.best_params_)
print(grid.best_estimator_)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=10.
  UserWarning,

{'C': 50, 'degree': 2, 'gamma': 0.01, 'kernel': 'linear'}
SVC(C=50, degree=2, gamma=0.01, kernel='linear')

In [29]:
from sklearn.metrics import classification_report
grid_prediction = grid.predict(Xtest)
print(classification_report(Ytest, grid_prediction))

                                    precision    recall  f1-score   support

                     Arc discharge       0.59      1.00      0.74        27
          High intensity discharge       1.00      1.00      1.00         4
      High-temperature overheating       0.34      0.83      0.48        18
           Low intensity discharge       1.00      1.00      1.00         1
       Low-temperature overheating       0.00      0.00      0.00         9
Low/Middle-temperature overheating       0.77      1.00      0.87        10
    Middle-temperature overheating       0.00      0.00      0.00         6
                          No fault       1.00      1.00      1.00        16
                 Partial discharge       1.00      0.36      0.53        11
                   Spark discharge       0.00      0.00      0.00        26
                     Thermal fault       1.00      1.00      1.00         8

                          accuracy                           0.62       136
                         macro avg       0.61      0.65      0.60       136
                      weighted avg       0.51      0.62      0.53       136

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [30]:
print(classification_report(Ytest,grid_prediction))
mat = confusion_matrix(Ytest,grid_prediction)
plt.figure(figsize=(9,9))
sns.heatmap(mat.T, square=True, annot=True, fmt='d')
plt.xlabel('true label')
plt.ylabel('predicted label');

                                    precision    recall  f1-score   support

                     Arc discharge       0.59      1.00      0.74        27
          High intensity discharge       1.00      1.00      1.00         4
      High-temperature overheating       0.34      0.83      0.48        18
           Low intensity discharge       1.00      1.00      1.00         1
       Low-temperature overheating       0.00      0.00      0.00         9
Low/Middle-temperature overheating       0.77      1.00      0.87        10
    Middle-temperature overheating       0.00      0.00      0.00         6
                          No fault       1.00      1.00      1.00        16
                 Partial discharge       1.00      0.36      0.53        11
                   Spark discharge       0.00      0.00      0.00        26
                     Thermal fault       1.00      1.00      1.00         8

                          accuracy                           0.62       136
                         macro avg       0.61      0.65      0.60       136
                      weighted avg       0.51      0.62      0.53       136

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))